<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Application</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
   <div>
    <h5 class="text-lg text-slate-800 inline-block">Overdue</h5>
    <span class="bg-purple-200 px-1 rounded" id="count-overdue"><%= yesterday.length %></span>
    <ul class="list-none">
        <% for (let i = 0;i < yesterday.length;i++) { %>
           <li>
             <div class="flex  w-fit rounded hover:bg-violet-200 ml-2 py-1 px-2 my-2 transition duration-100 ease-out">
                <input type="checkbox" class="w4 h-4 bg-gray-100 text-blue-100" id="<%= i %> ">
                <label for="<%=i %> " class="text-gray-600 cursor-pointer ml-2 text-sm"><%= yesterday[i].title %></label>
             </div>
           </li>
        <% } %>
    </ul>
    <h5 class="text-lg text-slate-800 inline-block">Due Today</h5>
    <span class="bg-purple-200 px-1 rounded" id="count-due-today"><%= today.length %></span>
    <ul class="list-none">
        <% for (let i = 0;i < today.length;i++) { %>
           <li>
             <div class="flex  w-fit  ml-2 py-1 px-2 my-2 hover:bg-violet-200 rounded">
                <input type="checkbox" class="w4 h-4 text-blue-200 bg-gray-100" id="<%=i %>">
                <label for="<%=i %>" class="text-gray-600 ml-2 text-sm cursor-pointer "><%= today[i].title %></label>
             </div>
           </li>
        <% } %>
    </ul>
    <h5 class="text-lg text-slate-800 inline-block">Due Later</h5>
    <span class="bg-purple-200 px-1 rounded" id="count-due-later"><%= tomorrow.length %></span>
    <ul class="list-none">
        <% for (let i = 0;i < tomorrow.length;i++) { %>
           <li>
             <div class="flex items-center ml-2 py-1 px-2 my-2 w-fit rounded hover:bg-violet-200">
                <input type="checkbox" class="w4 h-4 bg-gray-100 text-blue-100" id="<%=i %>">
                <label for="<%=i %>" class="text-Neutral-900 cursor-pointer ml-5 text-m"><%= tomorrow[i].title %></label>
             </div>
           </li>
        <% } %>
    </ul>
   </div>
</body>
</html>